In [1]:
import pandas as pd

df_teamstats = pd.read_csv("data/AmericanFootball98.csv")
df_sb = pd.read_csv("data/superbowl.csv")

df_teamstats = df_teamstats[['team_code', 'wins', 'losses', 'PF', 'yards', 'plays', 
                            '1st downs', 'completions', 'pass attempts', 'pass yards', 
                            'rush yards', 'score percentage', 'opp PF', 'opp yards', 'opp plays']]


df_teamstats['team_name'] = df_teamstats['team_code'].str[:3]
df_teamstats['year'] = df_teamstats['team_code'].str[-4:]
df_teamstats = df_teamstats.drop(columns=['team_code'])

df_teamstats['year'] = pd.to_numeric(df_teamstats['year'])

# drop all rows from 2004 and older
df_teamstats = df_teamstats[df_teamstats['year'] > 2004]

cols = ['team_name', 'year'] + [col for col in df_teamstats.columns if col not in ['team_name', 'year']]
df_teamstats = df_teamstats[cols]


# mapping of team abbreviations to full names
team_mapping = {
    'nwe': 'New England Patriots',
    'buf': 'Buffalo Bills',
    'nyj': 'New York Jets',
    'mia': 'Miami Dolphins',
    'rav': 'Baltimore Ravens',
    'pit': 'Pittsburgh Steelers',
    'cle': 'Cleveland Browns',
    'cin': 'Cincinnati Bengals',
    'htx': 'Houston Texans',
    'oti': 'Tennessee Titans',
    'clt': 'Indianapolis Colts',
    'jax': 'Jacksonville Jaguars',
    'kan': 'Kansas City Chiefs',
    'den': 'Denver Broncos',
    'rai': 'Las Vegas Raiders',
    'sdg': 'Los Angeles Chargers',
    'phi': 'Philadelphia Eagles',
    'dal': 'Dallas Cowboys',
    'nyg': 'New York Giants',
    'was': 'Washington Commanders',
    'gnb': 'Green Bay Packers',
    'min': 'Minnesota Vikings',
    'chi': 'Chicago Bears',
    'det': 'Detroit Lions',
    'nor': 'New Orleans Saints',
    'atl': 'Atlanta Falcons',
    'tam': 'Tampa Bay Buccaneers',
    'car': 'Carolina Panthers',
    'sfo': 'San Francisco 49ers',
    'sea': 'Seattle Seahawks',
    'ram': 'Los Angeles Rams',
    'crd': 'Arizona Cardinals'
}


df_teamstats['team_name'] = df_teamstats['team_name'].map(team_mapping)

df_sb = df_sb[['Date', 'Winner']]
df_sb['Date'] = df_sb['Date'].str[-4:]

df_sb['Date'] = pd.to_numeric(df_sb['Date'])

# drop all rows from 2004 and older
df_sb = df_sb[df_sb['Date'] > 2004]


df_sb.rename(columns={'Date': 'year'}, inplace=True)

df_merged = pd.merge(df_teamstats, df_sb, on='year', how='left')
df_merged.rename(columns={'Winner': 'winner'}, inplace=True)


df_merged

,team_name,year,wins,losses,PF,yards,plays,1st downs,completions,pass attempts,pass yards,rush yards,score percentage,opp PF,opp yards,opp plays,winner
0,New England Patriots,2019,12,4,420,5664,1095,338,378,620,3961,1703,36.8,225,4414,948,New England Patriots
1,Buffalo Bills,2019,10,6,314,5283,1018,314,299,513,3229,2054,30.6,259,4772,985,New England Patriots
2,New York Jets,2019,7,9,276,4368,956,253,323,521,3111,1257,23.0,359,5170,1037,New England Patriots
3,Miami Dolphins,2019,5,11,306,4960,1022,315,371,615,3804,1156,30.6,494,6364,1053,New England Patriots
4,Baltimore Ravens,2019,14,2,531,6521,1064,386,289,440,3225,3296,52.1,282,4809,921,New England Patriots
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,New Orleans Saints,2005,3,13,235,5031,1017,312,308,553,3343,1688,26.4,398,4994,946,New England Patriots
476,Seattle Seahawks,2005,13,3,452,5915,1020,361,307,474,3458,2457,38.9,271,5069,1041,New England Patriots
477,Los Angeles Rams,2005,6,10,363,5571,1025,314,392,599,4036,1535,32.3,429,5602,1007,New England Patriots
478,Arizona Cardinals,2005,5,11,311,5575,1075,304,419,670,4437,1138,34.0,387,4729,936,New England Patriots
479,San Francisco 49ers,2005,4,12,239,3587,865,191,204,389,1898,1689,21.9,428,6259,1090,New England Patriots